body {
    font-family: 'Roboto', sans-serif;
    background-color: #DEF9C4;  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #9CDBA6;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(165, 223, 203, 0.99);
}


h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #225849;
    font-weight: 700;
}


label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: #225849;
}


input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #468585;
    box-shadow: 0 0 5px rgba(165, 223, 203, 0.99);
    outline: none;
}

input[type="submit"], button, a.button {
    background-color: #468585;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover, button:hover, a.button:hover {
    background-color: #468585;
    box-shadow: 0 5px 15px rgba(165, 223, 203, 0.99);
}


a {
    color: #468585;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

a:hover {
    color: #468585;
}


@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="submit"], button, a.button {
        font-size: 14px;
        padding: 10px 20px;
    }
}



#message {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}


a.button {
    background-color: #468585;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

a.button:hover {
    background-color: #468585;
    box-shadow: 0 5px 15px rgba(165, 223, 203, 0.99);
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    #message {
        font-size: 16px;
    }

    a.button {
        font-size: 14px;
        padding: 10px 20px;
    }
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

table, th, td {
    border: 3px solid #bc9668;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #efdfbec9;
    font-weight: bold;
    color: #333;
}

tr:nth-child() {
    background-color: #ecd9d9d5;
}

tr:hover {
    background-color: #fef76b;
}


@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }
}
